@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Your custom theme */
  --color-primary: #0587e5;
  --color-secondary: #f6f6f6;
  --color-danger: #fa4d4d;
  --color-success: #009029;
  --color-warning: #ff9635;
  --color-info: #ffc804;
  --color-black: #000000;
  --color-badge: #ffe99b;
  --font-inter: "Inter", sans-serif;
  --border: 1px;
}

@layer base {
  body {
    @apply bg-secondary font-inter font-normal text-black;
  }
  h3 {
    @apply max-w-4xl text-start text-[24px] leading-tight font-bold text-white lg:text-[32px];
  }
  h4 {
    @apply text-[16px] leading-tight font-bold;
  }
}

@layer components {
  .sub-title {
    @apply font-inter text-lg font-normal text-white;
  }
  .btn {
    @apply font-inter rounded-sm px-5 py-2 text-sm font-bold text-white;
  }

  .badge {
    @apply bg-badge rounded-sm px-3 py-2 text-xs font-bold text-black;
  }

  table {
    @apply text-sm;
    & thead {
      @apply bg-[#DEE1E8] py-5 text-left font-bold;

      & th {
        @apply px-2 text-left;
      }

      & th.leftrow {
        @apply rounded-tl-sm rounded-bl-sm px-4 py-2;
      }

      & th.rightrow {
        @apply rounded-tr-sm rounded-br-sm py-2;
      }
    }

    & tbody {
      & tr {
        @apply border-b-1 border-[#DEE1E8];

        & td {
          @apply py-2;
        }

        & td.inner {
          @apply px-2;
        }
      }
    }
  }
}

@layer utilities {
  .border {
    @apply rounded-sm border border-[#DEE1E8];
  }
}
