@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Your custom theme */
  --color-primary: #0587e5;
  --color-secondary: #f6f6f6;
  --color-danger: #fa4d4d;
  --color-success: #009029;
  --color-warning: #ff9635;
  --color-info: #ffc804;
  --color-black: #000000;
  --font-inter: "Inter", sans-serif;
  --border: 1px;
}

@layer base {
  body {
    @apply bg-secondary font-inter font-normal text-black;
  }
  h3 {
    @apply max-w-4xl text-start text-[32px] leading-tight font-bold text-white;
  }

}

@layer components {
  .sub-title {
    @apply font-inter font-normal text-white text-lg;
  }
}

@layer utilities {
  .border {
    @apply border rounded-lg border-[#DEE1E8]
  }
}
